table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  
  th:last-child, td:last-child {
    border-right: none;
  }
  
  .even-row {
    background-color: #f8e0e0;
  }
  
  .odd-row {
    background-color: #ffffff;
  }
  
  th {
    background-color: #4169e1;
    color: #ffffff;
  }
  
  td {
    background-color: #ffdab9;
  }
  